<div class="shelves">
    <div class="shelves__title">
        <h2 class="shelves__title_name">полиці</h2>
        <span 
        class="icon-favorite"
        [class.favorite]="shouldFavoriteShelvesBeShown"
        (click)="toggleShowFavoriteShelves()"
        ></span>
    </div>
    <p>{{message}}</p>
    <ul class="shelves__list" >
        <li *ngFor="let shelf of shelves | showMoreMode: showMore ; let i = index"  >
            <app-card 
                [routerLink]="['/library/shelves', shelf.id]"
                *ngIf="!shouldFavoriteShelvesBeShown || shelf.favorite"                   
                [book]="shelf" 
                (favoriteChange)="onChangeShelfFavorites($event, i)"
                (deleteBookbyId)="deletingShelf($event)" >
            </app-card>
        </li>
    </ul>
    <p *ngIf="shelves?.length === 0">no results, please try again</p>

    <button *ngIf="shelves?.length !== 0" 
        class="showmore__btn" 
        (click)="showMoreToggler()">
        {{showMore ? "HIDE" : "SHOW MORE"}}
    </button>
</div>
