<article class="card" *ngIf="book">
    <img [src]="book.src" [alt]="book.name" class="book__poster">
    <span 
    class="icon-favorite"
    [ngClass]="{favorite: isFavorite}"
    (click)="toggleFavorite()"
    ></span>
    <span class="icon-delete"
    (click)="deleteBook(book.id)"></span>
    <hr>
    <p class="book__name">{{book.name}}</p>
    <p class="book_price">Price: {{price | currency:'USD'}}</p>
    <app-tags [tags]="booksTags"></app-tags>

    <p class="book__date">{{book.date | date:'dd.MM.YYYY'}}</p>
    <p class="book__description">{{book.description | starMaker}}</p>
</article>
