<button class="Btn" (click)="changeButton()">{{buttonText}}</button>

<div *ngIf="load; else unloded">
    <div class="Recipes" *ngFor="let recipe of recipes">
        <div class="Recipe-card">
            <p class="Recipe-card_title">{{recipe.title}}</p>
    
            <div class="Recipe-card_content">
                <div class="Recipe-card_content_ingredients">
                    <p>INGREDIENTS :</p>
                    <ul *ngFor="let ingredient of recipe.ingredients">
                        <li>{{ingredient}}</li>
                    </ul>
                </div>
                <div class="Recipe-card_content_text">
                    <p>STEPS :</p>
                    <p>{{recipe.text}}</p>
                </div>
            </div>
    
            <!-- <div class="Recipe-card_edibility" [ngClass]="{
                Vegetarian: recipe.vegetarian,
                NotVegetarian: !recipe.vegetarian
            }">
                <div [ngSwitch]="recipe.vegetarian">
                    <p *ngSwitchCase="true">VEGETARIAN</p>
                    <p *ngSwitchCase="false">NOT VEGETARIAN</p>
                </div> -->
            </div>
            
        </div>
    </div>
<!-- </div> -->

<ng-template #unloded>
    <p>Please, press 'LOAD RECIPES'</p>
</ng-template>
