<section>
    <app-header></app-header>
    <app-breadcrumbs></app-breadcrumbs>

    detail-book works!
    <div class="book__fullInfo">

        <img 
        src="https://m.media-amazon.com/images/I/51jQChB+fmL._AC_UF1000,1000_QL80_FMwebp_.jpg" 
        alt="book.name"
        class="book_fullInfo__poster">

        <ul class="book__fullInfo_list">
            <li class="book_fullInfo__name">
                <!-- {{book.name}} -->
                bookName
            </li>
            <li class="book_fullInfo__date">
                <!-- {{book.date | date:'dd.MM.YYYY'}} -->
                bookDate
            </li>
            <li class="book_fullInfo__description">
                <!-- {{book.description}} -->
                bookDescription

            </li>
        </ul>
    </div>

</section>
