<section>
    <app-header></app-header>
    <app-breadcrumbs></app-breadcrumbs>

    <div class="book__fullInfo">
        <div class="poster__wrapper">
            <img 
            [src]="book?.src" 
            [alt]="book?.name"
            class="book_fullInfo__poster"
            appImageOrientalFormating
            >
        </div>
        <ul class="book__fullInfo_list">
            <li class="book_fullInfo__name">
                <span class="bookInfo__key">Book title :</span>
                {{book?.name}}
            </li>
            <li class="book_fullInfo__date">
                <span class="bookInfo__key">Date:</span>
                {{book?.date | date:'dd.MM.YYYY'}}
            </li>
            <li class="book_fullInfo__description">
                <span class="bookInfo__key">Description:</span>
                <hr>
                {{book?.description}}
            </li>
        </ul>
    </div>
</section>
