<div class="breadcrumbs">
    <div class="navigation__wrapper">
        <nav class="navigation">
            <ul class="navigation__list">
                <li 
                    class="navigation__item"
                    [routerLink]="['/library/']">
                    HOME
                </li>
                <li 
                    class="navigation__item"
                    routerLinkActive="active" 
                    *ngFor="let route of currentRoute;">
                    {{route | titlecase}}
                </li>
            </ul>
        </nav>
        <span class="current__navigation">{{lastRoute}}</span>
    </div>
    <button 
        [routerLink]="['/library']"
        class="back-home__btn">
        BACK HOME
    </button>
</div>