.breadcrumbs {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 20px 50px;

    background-color: #f1f1f1;
}
nav {
    margin-top: auto;
}

.navigation__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 60px;
    
}
.navigation{
    position: relative;
}
.navigation::before{
    content: "\e900";
    font-size: 3em;
    font-family: 'icomoon';

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-115%, -15%);
}

.lamp__icon {
    width: 40px;
    height: 100%;

    margin-right: 4px;
}

.navigation__list {
    list-style: none;
    display: flex;
    margin-bottom: 4px;

    font-size: 16px;
}

.navigation__item:not(:last-child) {
    cursor: pointer;
    margin-right: 16px;
    position: relative;
}

.navigation__item:not(:last-child)::after {
    display: block;
    content: '>';

    position: absolute;
    top: 0;
    right: -10px;
}

.current__navigation{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: auto;
}

.back-home__btn{
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #4b4b4b;
    background-color: #ededed;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: bold;
    padding: 8px 20px;

    margin-left: auto;

    cursor: pointer;
}