<div class="tags__block">
    <ul class="tags__list" 
        [ngClass]="{hidden: !isTagsOpened}" 
        #taglist >
        <li
        [ngClass]="{
            opened: isTagsOpened,
            closed: !isTagsOpened
        }"
        class="show-more__btn"
        (click)="toggleIsOpen()"
        >
            <img src="/assets/arrow-icon.svg" alt="arrow show more" />
        </li>

        <li *ngFor="let tag of tags" 
        class="tags__item">
            <img src="/assets/hashtag-icon.svg" alt="hashtag" />
            {{ tag.name }}
        </li>

        <li 
        class="show-more__btn__dots" 
        (click)="toggleIsOpen()"
        *ngIf="!isTagsOpened">
            ...
        </li>
    </ul>
    <div class="shadow" *ngIf="!isTagsOpened"></div>
</div>
