.tags__block {
    position: relative;
}

.tags__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    position: relative;

    cursor: pointer;
}

.tags__item {
    font-size: 12px;
    background-color: #ededed;
    color: #4b4b4b;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.tags__item::before{
    content: "\e902";
    color: #bebebe;
    font-size: 0.8em;
    font-family: 'icomoon';
}

.tags__item:not(:last-child) {
    margin-right: 4px;
}

.show-more__btn {
    padding: 4px 8px;
}
.show-more__btn::before{
    content: "\e901";
    font-size: 1.2em;
    font-family: 'icomoon';
}


.show-more__btn__dots {
    background-color: #ededed;
    color: #8c8c8c;
    padding: 3px 12px 10px;
    border-radius: 4px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.shadow {
    background-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff, #ffffff, #ffffff);
    
    position: absolute;
    top: 0;
    left: 90%;
    bottom: 0;
    right: 0;
    z-index: 1;
}