label {
    position: relative;
}
label::after{
    content: "\e986";
    font-size: 1.2em;
    font-family: 'icomoon';   

    opacity: 0.5;

    position: absolute;
    top: 30%;
    right: 2%;

}

.input {
    display: block;
    font-size: 18px;
    padding: 20px 10px;
    border-radius: 4px;
    border: 1px solid #ededed;
    outline: none;
    color: #4b4b4b;
    width: 100%;
    box-shadow: 8px 8px 10px -11px rgba(66, 68, 90, 1);

}

.input:focus {
    border: 1px solid #aaaaaa;
}

.input::placeholder{
    color: #4b4b4b51;
}

