.books{
    background-color: #ffffff;
    width: 90%;
    margin: 16px auto 0;
    font-size: 24px;
    padding: 20px 36px;
}
.books__title{
    display: flex;
    justify-content: space-between;
}
.books__title_name{
    font-size: 24px;
}
.books__title_name::before{
    content: "\e906";
    font-size: 0.8em;
    font-family: 'icomoon';
    margin-right: 8px;
}
.icon-favorite::after{
    content: "\e907";
    color: #ffffff;
    -webkit-text-stroke: 1px #8ac8e1; 
    font-size: 1em;
    font-family: 'icomoon';
}
.books__list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
