.predict-card {
    position: relative;
    z-index: 2;

    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #416074;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    padding: 40px;
    width: 100%;
    min-width: 300px;
    max-width: 220px;
    min-height: 226px;
    margin: 0 auto;
}
.allert{
    font-size: 14px;
    text-align: center;
    color: #5d263e;

    margin-top: 8px;
    margin-bottom: 4px;
}
.fortuna-cookie {
    position: absolute;
    top: 32%;
    left: 55%;
    max-width: 300px;
    transform: rotate(40deg);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
.fortuna-cookie:hover {
    transform: rotate(60deg);
}
.generateBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: rgb(127, 108, 202);
    color: #ffffff;
    font-weight: 600;

    padding: 16px 24px;
    border: none;
    border-radius: 4px;

    margin: 20px auto;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}
.generateBtn:hover {
    background-color: rgb(94, 72, 181);
}
.generateBtn:active {
    box-shadow: inset 8px 8px 12px -4px rgba(66, 68, 90, 1);
}
.generateBtn:disabled {
    background-color: rgb(128, 128, 128);
    pointer-events: none;    
}
.cookie-img {
    width: 40px;
    height: 100%;
    margin-right: 4px;
}


.userPredictions-list {
    margin-left: auto;
    margin-right: auto;
    color: #5d263e;
}
.userPredictions-title {
    color: #f665a4;
    padding-left: 50px;
}
.shine{
    color: #d88500;
    padding-left: 50px;
    text-shadow: 4px 4px 12px rgba(0, 255, 31, 1);
}