.Title
    font-size: 30px
    text-transform: uppercase
    color: #8b0000
    margin-bottom: 15px

.Unavailable
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center