<div class="app_root">
  <!-- <div class="container"> -->
    <!-- <app-library></app-library> -->
    <!-- <app-predict-card></app-predict-card> -->
    <router-outlet></router-outlet>
    <!-- <app-header></app-header>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="white-frame">
      <app-input (querySearchChange)="receiveQuerySearch($event)"></app-input>
      <app-tags [tags]="tags"
      (queryTagsChange)="receiveQueryTags($event)"
      ></app-tags>
    </div>
    <app-shelves [shelves]="shelves"></app-shelves>
    <app-books [books]="books"></app-books> -->
  <!-- </div> -->
</div>


