<nav class="Nav-bar">
    <div class="Nav-bar_info">
        <img class='Nav-bar_icon' src="/assets/lamp.png">
        <div>
            <div class="Nav-bar_info_breadcrumbs">
                <p>HOME</p>
                <img class="Nav-bar_info_breadcrumbs_arrow" src="/assets/arrow.svg">
                <p class="Light-grey">Library</p>
            </div>
            
            <p class="Nav-bar_info_current-page">LIBRARY</p>
        </div>
    </div>
    <button class="Button Button-goBack">BACK HOME</button>
</nav>
