.Selves-header
    display: flex
    justify-content: space-between

    &_title
        font-weight: bold

        &::before
            content: "\e904" 
            font-family: icomoon
            display: inline-block
            margin-right: 8px