<form class="Form-login" [formGroup]="form" (ngSubmit)="submit()">
    <div class="Form-login_control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
        <label for="email">Email:</label>
        <br>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
            <small *ngIf="form.get('email')?.errors?.['required']">Email is required!</small>
            <small *ngIf="form.get('email')?.errors?.['email']">Write correct email</small>
        </div>
    </div>

    <div class="Form-login_control" [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
        <label for="password">Password:</label>
        <br>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
            <small class="Wrap" *ngIf="form.get('password')?.errors?.['required']">Password is required!</small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">
                Password should be at least {{form.get('password')?.errors?.['minlength']?.['requiredLength']}} symbols!
            </small>
        </div>
    </div>

    <button 
        class="Button Button-log"
        type="submit" 
        [disabled]="form.invalid">
        LOGIN
    </button>
    <div class="Form-login_notAuth" *ngIf="notAuthorizedMessage">{{notAuthorizedMessage}}</div>
</form>

