<div class="Book" [appBorderColor]='tagsNumber' #bookContainer>
    <div class="Book_img__container">
        <img appImageSize class="Book_img" src="{{book.src}}">
    </div>
    
    <div class="Book_controls">
        <button><span class="icon-star-svgrepo-com Book_controls_star" 
                      [ngClass]="{Favorite : book.favorite}"
                      (click)="makeFavorite($event)">
                </span>
        </button>
        <button (click)="deleteBook($event)"><span class="icon-delete Book_controls_bin"></span></button>
    </div>

    <hr>

    <p class="Book_title">{{book.name}}</p>
    <div class="Book_date-price">
        <p>{{book.date | date:'dd.MM.yyy'}}</p>
        <p>{{price | currency}}</p>
    </div>
    <p class="Book_description">{{bookDescription |changeSecondWordToStars}}</p>

    <div class="Tags_container">
        <div class="Tags" [ngClass]="{
            Tags_hide: isTagsClosed,
            Tags_show: !isTagsClosed
            }" #tagsContainerTpl>
    
                <p class="Tags_tag" *ngFor="let tag of shelfTagsNames" #tags>{{tag}}</p>
        </div>
        <button *ngIf="isTagsInMultiRow" 
                class="Tags_button-open_cover"
                (click)="openTags($event)">
                <p class="Tags_button-open">&#183;&#183;&#183;</p>
        </button>
    </div>
</div>
