/* You can add global styles to this file, and also import other style files */
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
};
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    padding: 0;
}
