<div class="Page-content Detail-book">
    <p class="Detail-book_title">{{book.name}}</p>

    <div class="Detail-book_container">
        <div class="Detail-book_img__container">
            <img appImageSize class="Detail-book_img" src="{{book.src}}">
        </div>
        <div>
            <p class="Light-grey Detail-book_date">{{book.date | date:'dd.MM.yyy'}}</p>
            <div class="Detail-book_tags">
                <p class="Detail-book_tags_tag" *ngFor="let tag of bookTags">{{tag}}</p>
            </div>
        </div>
    </div>
</div>
