<p>Button clicked: {{count | async}} times</p>
<div class="Selves-header">
    <p class="Selves-header_title">ПОЛИЦІ</p>
    <button (click)="showFavorites()">
        <span class="icon-star-svgrepo-com Selves-header_favorite" 
              [ngClass]="{'Selves-header_favorite__show': isOnlyFavorite}">
        </span>
    </button>
</div>

<div class="BooksContainer" 
     [ngClass]="{'BooksContainer_hide': isShelvesInMultipleRow}"
     #shelvesContainer>
        <ng-container *ngFor="let shelf of shelves | filter:searchValue | filterByTags:chosenTagsArray">
            <app-book class="Books" 
                      [book] = 'shelf' 
                      id="shelf"
                      [routerLink]="['/library/shelves', shelf.id]"
                      (onFavorite)="booksService.updateFavorites($event, booksService.shelves)"
                      (onDeleteBook)="booksService.updateBooks($event, booksService.shelves, booksService.shelvesCopy)"
            ></app-book>
        </ng-container>
</div>

<button class="Button Button-show"
        (click)="openOrCloseBooks()">
        {{buttonText}}
        <span class="icon-arrow Button-show_arrow" 
              [ngClass]="{'Button-show_arrow__close': !isShelvesInMultipleRow}">
        </span>
</button>